.btn-bg(@background, @color) {

    background-color:   @background;
    border-color:       @background;
    color:              @color;

    &:hover, &:focus {
        background-color: darken(@background, 10%);
        border-color: darken(@background, 10%);
        color: @color;
    }

    &:active, &:active:focus {
        background-color: darken(@background, 20%);
        border-color: darken(@background, 20%);
        color: @color;
    }

}

.btn {
    .border-radius(2px);
    font-family: "Montserrat Light", sans-serif;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding: .5rem 1.2rem;
    position: relative;
}

.btn-lg {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
}

.btn-primary {
    .btn-bg(@color-brand-primary, @color-text-btn);
}

.btn-primary {
    .btn-bg(@color-brand-secondary, @color-text-btn);
}

.btn-icon {

    padding-right: 30px;

    &.btn-lg {
        padding-right: 45px;
    }

    &:after {
        font-family: "FontAwesome", sans-serif;
        font-weight: 400;
        position: absolute;
        right: 12px;
        top: 50%;
        .transform(translateY(-50%));
    }

}

.btn-arrow {

    &:after {
        content: "\f105";
    }

}
