.header {

    font-family: 'Montserrat Light', sans-serif;
    font-weight: 700;
    height: 3.125rem;

    a {

        border-bottom: none;
        color: @color-brand-secondary;
        font-size: .9rem;
        padding: 1.5rem 1.25rem;
        text-transform: uppercase;

        &:hover {
            color: @color-brand-primary;
        }

    }

}

.navbar, .nav {
    background-color: #fff;
}

.navbar {
    border-bottom: solid 1px @color-border-light;
}
