@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'components';
@import 'utilities';
@import 'responsive';
@import 'buttons';
@import 'header';
@import 'footer';
@import 'headline';
@import 'clients';
@import 'rocket';
@import 'map';

body {
    font-family: 'Source Sans Pro', sans-serif;
}

::selection {
    background-color: @color-text-primary;
    color: #fff;
}

::-moz-selection {
    background-color: @color-text-primary;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GT Walsheim Bold', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    border-bottom: solid 1px @color-brand-primary;
    color: @color-brand-primary;
    display: inline-block;
    padding-bottom: 1px;
    .transition(all .3s ease);

    &:hover, &:focus, &:active {
        text-decoration: none;
    }

    &:hover {
        border-color: @color-text-primary;
        color: @color-text-primary;
        .transition(all .3s ease);
    }

    &.unstyled {
        border-bottom: none;
    }

}

p {
    line-height: 1.8;

    &.large {
        font-size: 1.3rem;
    }
}

ul {
    padding-left: 25px;
}

/* Titles */
.section-title {

    color: @color-brand-secondary;

    span {
        color: @color-brand-primary;
    }

}

.multi-title {
    position: relative;
}

.bg-title {
    color: @color-title-background;
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 0;
    text-align: center;

    .bg-off-white & { color: @color-title-background-grey; }

    .bg-inverse & { color: @color-title-background-inverse; }

}

.fg-title {
    color: @color-title-foreground;
    display: table;
    font-size: 36px;
    line-height: 36px;
    margin: 0 auto;
    position: relative;
    top: -64px;

    .bg-inverse & { color: #fff; }
}

.title {
    font-size: 3.6rem;
}

.subtitle {
    font-size: 2.4rem;
}

.wrapper {
    margin-bottom: 25rem;
}

.module {
    position: relative;
    z-index: 1;
}

.content {

    .freight-text;
    max-width: 800px;

    p {
        margin-bottom: 2rem;
    }

}
