<!DOCTYPE html>
<html>
    <head>
        <title>Dem Fonts</title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/stylesheet.css" />
        <link href='https://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        
        <!-- JS -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="app/main.js"></script>
        <script src="js/functions.js"></script>
    </head>
    
    <body>
        
        <header>
            <p class="text-xs-center m-b-0"><i class="fa fa-fort-awesome"></i></p>
        </header>
        
        <div ng-app="myApp" ng-controller="fontsCtrl" class="content">
            <div class="container">
                <div class="col-md-3">
                    <aside class="m-b-1">
                        <div class="title">
                            <h3>Fontz</h3>
                        </div>
                        
                        <nav>
                            <ul class="list-unstyled">
                                <li><a ng-click="fontFilter = {type: 'Google'}" href="javascript:void(0)">Google Fonts</a></li>
                                <li class="m-b-1"><a ng-click="fontFilter = {type: 'Local'}" href="javascript:void(0)">Local Fonts</a></li>
                                <li><a ng-click="fontFilter = {}" href="javascript:void(0)">Show All</a></li>
                            </ul>
                            
                            <input type="text" placeholder="Search" class="form-control m-b-1" ng-model="fontFilter.name" />
                        </nav>
                    </aside>
                </div>
                
                <div class="col-md-9">
                    <main>
                        <section>
                            
                            <div ng-animate="'animate'" ng-repeat="font in fonts | orderBy:'name' | filter:fontFilter" class="font-example font-{{ font.class }}">
                                <h2>{{ font.name }}</h2>
                                <h3>{{ font.name | uppercase }}</h3>
                                <p>{{ content }}</p>
                                <small class="text-muted uppercase"><strong>Type:</strong> {{ font.type }}</small>
                            </div>
                            
                        </section>
                    </main>
                </div>
            </div>
        </div>
        
        <a class="scroll-top">
            <i class="fa fa-angle-up"></i>
        </a>
        
    </body>
</html>